<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV5Tk6KQ9GtlKeMubfjIZc5-wSfEQOBo8</string>
	<key>GCM_SENDER_ID</key>
	<string>29109327480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FireTest</string>
	<key>PROJECT_ID</key>
	<string>cnraildemo</string>
	<key>STORAGE_BUCKET</key>
	<string>cnraildemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29109327480:ios:1bc5577ebebc31caccff8d</string>
	<key>DATABASE_URL</key>
	<string>https://cnraildemo-default-rtdb.firebaseio.com</string>
</dict>
</plist>